/*NEWSLETTER*/
.newsletter {
    margin: 40px 0 0 0;
    height: 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3C4048;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 4px 4px #EAEAEA;
}

.newsletter__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.newsletter__message-discount {
    font-weight:900;
}

.newsletter__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
}

.newsletter__email input {
    padding: 2px;
    border: none;
    border-bottom: 1px solid #3C4048;
    width: 400px;
    margin-bottom: 20px;
}

.newsletter__email span {
    font-size: 10px;
    color: #3C4048
}

/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: #3C4048;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
    box-shadow: 1px 4px 4px #EAEAEA;
}

.contact-elements {
    display: flex;
    width: 310px;
    justify-content: space-between;
    height: 15px;
    margin: 10px 0 10px 0;
}

.img-phone {
    display: flex;
    width: 100%;
    border-right: 1px solid #3C4048;
}

.online-sales {
    border-right: 1px solid #3C4048;
    padding: 0 5px 0 5px;
}

.shops {
    padding-left: 5px;
}

.img-phone a {
    /* margin: 3px; */
    margin:0 5px 0 5px;
    color: #5CB8E4;
}


